/* footer {
  background-color: #0b1230;
  padding: 40px 20px;
  text-align: center;
  color: white;
  margin-top: 60px;
  margin-bottom: -113%;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
      "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.address p {
    font-size: 18px;
}
.service-section {
  margin-bottom: 60px;  
}
.social-section {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.social-box {
    background: linear-gradient(165deg, rgb(0, 53, 105) 38%, rgb(104, 189, 217));
    height: 80px;
    padding: 15px 30px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    width: 75%;
    justify-content: center;
    gap: 15px;
}

.social-box span {
    font-weight: 500;
    font-size: 24px;
}

.social-icons a {
    margin: 0 8px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.contact-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    max-width: 1200px;
    margin: 0 240px;
    padding: 0 20px;
}

.address h4 {
    color: #33a4dd;
    margin-bottom: 5px;
    font-size: 28px;
    font-weight: 500;
}

.location {
    display: flex;
    margin-top: -20px;
}

.location-icon {
    font-size: 20px;
    margin-right: 10px;
    color: #33a4dd;
}

.email-box,
.phone-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-card,
.phone-card {
    background-color: #67a9d3;
    padding: 25px;
    text-align: center;
    width: 80%;
    border-radius: 4px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.email-card p {
    font-size: 20px;
}

.phone-card p {
    margin-left: 4px;
    font-size: 20px;
}

.email-icon {
    font-size: 28px;
    display: block;
    margin-bottom: 10px;
}

.phone-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    font-size: 24px;
}

.phone-icons i {
    font-size: 28px;
    padding-left: 12px;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    padding: 15px 0;
    border-top: 1px solid #19204f;
    color: #33a4dd;
    background: linear-gradient(rgb(10, 23, 68), rgb(11, 20, 53));
    font-size: 18px;
} */


.footer-section {
    background-color: #0b1435;
}

.address-box h3 {
    color: hsl(203.62deg 78.33% 23.53%);
    font-weight: bold;
}

.address-box p {
    color: white;
}

.footer-box {
    background-color: #68bdd9;
    box-shadow: 15px 15px 0px #172351;
    min-height: 135px;

    .foo-contact-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
        padding: 1.5rem 0 0;
        color: #fff;

        .fa-whatsapp {
            font-size: 2.2rem;
        }

        .fa-phone {
            font-size: 1.7rem;
            margin-left: 20px;
        }
    }
}

.footer-box p {
    color: white;
}

.footer-mid {
    border-bottom: #02081c 1px solid;
    padding-bottom: 3rem;
}

.copy-right-section {
    border-top: #172b72 1px solid;
    background: linear-gradient(180deg, #0a1744, #0b1435);
}

.copy-right-section p {
    font-size: 20px;
    padding: 15px 0;
}

.social-sec {
    background: rgb(0, 53, 105);
    background: linear-gradient(165deg, rgba(0, 53, 105, 1) 38%, rgba(104, 189, 217, 1) 100%);
    padding: 30px 0;
    border-radius: 10px;
    text-align: center;
    margin-top: 100px;
    position: relative;
    top: -50px;
}

.social-title {
    font-size: 20px;
    color: white;
}

.social-img a {
    margin: 0 5px;
}

@media (max-width: 768px) {
    .social-title {
        display: block;
        font-size: 20px;
        color: white;
        line-height: 3;
    }
}