.Services-Page {
    height: 100vh;
    width: 100%;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";    
    background-image: linear-gradient(165deg, rgb(0, 54, 108) 38%, rgb(104, 189, 217));
}
.services {
    position: absolute;
    display: flex;
    
}
/* Left Side Things */
.left-container {
    color: #ffffffd4;
    margin-top: 118px;
    margin-left: 160px;
}

.all-services-side {
    max-width: 500px;
    width: 470px;
    padding: 30px;
}

.all-services-side h2 {
    margin-top: 18px;
    margin-left: 2px;
    color: #ffffffd4;
    font-size: 48px;
    font-weight: 500;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.our-services {
    margin-left: 10px;
    font-size: 16px;
    color: #ffffffbf;
    border-bottom-color: rgb(2, 145, 204);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-top-color: rgb(2, 145, 204);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-style: solid;
    border-top-width: 2px;
    max-width: fit-content;
    padding: 5px 13px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.service-description{
    padding: 0;
    margin-top: -30px;
    color: #ffffffcb;
    line-height: 1.5;
}

.types-of-services {
    margin-left: -30px;
    margin-top: 24px;
    color: #ffffffcb;
    line-height: 3;
    display:flex;
}
.types-of-services ul li{
    list-style: none;
    color: #ffffffcb;
}
.left-aligned li i{
    margin-right: 8px;
    color: rgb(2, 145, 204);
    font-size: 20px;
}
.right-aligned li i{
    margin-right: 8px;
    font-size: 20px;
    color: rgb(2, 145, 204);
}
.know-more{
    margin-top: 24px;
    color: #fff;
    background-color: rgb(2, 145, 204);
    max-width: fit-content;
    padding: 14px 32px;
    border-radius: 8px;
}
/* Right Side Things  */

.right-container{   
    width:800px;
    margin-top: 150px;
    /* background-color: #000; */
    color: #fff;
    margin-left: 45px;
}
.service-1{
    height: 300px;
}
.consultancy{
    width: 250px;
}
.service-types{
    display: flex;
}
.consultancy i{
    font-size: 48px;
    color: rgb(16, 95, 243);
    margin-bottom: 8px;
}
.consultancy h3{
    font-size: 30px;
    font-weight: 500;
}
.consultancy-description{
    width: 300px;
    margin-left: 12px;   
}
.consultancy-description p{
    margin-top: -12px;
    line-height: 1.5;
}
/* .line12{
    height: 1px;
    margin-left: -280px;
    width: 420px;
    background: rgb(2, 145, 204);
    margin-top: 38%;
}
.line{
    height: 600px;
    margin-top: -40px;
    width: 1px;
    background: rgb(2, 145, 204);
    margin-left: 140px;
} 
.line2{
    height: 1px;
    width: 420px;
    margin-left: -160px;
    background: rgb(2, 145, 204);
    margin-top: 38%; 
    }*/

.Software-Development{
    margin-left: 160px;
}
.Software-Development i{
    font-size: 50px;
    color: rgb(16, 95, 243);    
}
.Software-Development h3{
    font-weight: 500;
    font-size: 30px;
}

.software-description{
    width: 400px;
    margin-left: 20px;
}
.software-description p{
    margin-top: -10px;
    line-height: 1.5;
    width: 300px;
}

.service-wrapper2{
    display: flex;
}
.service-3{
    margin-top: 32px;
}

.ui-ux-Development{
    margin-left: 12px;
    width: 350px;
}
.ui-ux-Development i{
    font-size: 50px;
    color: rgb(16, 95, 243);   
}
.ui-ux-Development h3{
    font-weight: 500;
    font-size: 30px;
}
.ui-ux-Development p{
    margin-top: -12px;
    margin-left: 12px;
    line-height: 1.5;
    width: 350px;
}

.service-4{
    margin-top: 32px;
    margin-left: 48px;
}
.Training-Development{
    margin-left: 18px;
    width: 350px;
}
.Training-Development h3{
    font-weight: 500;
    font-size: 30px;    
}
.Training-Development i{
    font-size: 50px;
    color: rgb(16, 95, 243);   

}
.Training-Development p{    
    margin-top: -12px;
    margin-left: 12px;
    line-height: 1.5;
    width: 350px;
}